<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.edmond.jimi.sale.dao.OrderItemItemDao">
	<insert id="insert" parameterType="OrderItem" useGeneratedKeys="true"
		keyProperty="id">
		insert into jimi_order_item
		(orderCode,customer,productId,product,price,profit,quantity,flag,image)
		values(#{orderCode},#{customer},#{productId},#{product},#{price},#{profit},#{quantity},#{flag},#{image})
	</insert>
	<!-- 获取用户-->
	<select id="get" parameterType="int" resultType="OrderItem">
		select id, orderCode,customer,productId,product,price,profit,quantity,flag,image
		from jimi_order_item
		where id=#{id}
	</select>

	<!-- 查询用户,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
	<select id="search" parameterType="map" resultType="OrderItem">
		select id,  orderCode,customer,productId,product,price,profit,quantity,flag,image
		from jimi_order_item
		<where>
			<if test="orderCode != null">
				orderCode=#{orderCode}
			</if>
			<if test="customer != null">
				customer=#{customer}
			</if>
			<if test="productId != null">
				productId=#{productId}
			</if>
			<if test="product != null">
				product=#{product}
			</if>
			<if test="price != null">
				price=#{price}
			</if>
			<if test="profit != null">
				profit=#{profit}
			</if>
			<if test="quantity != null">
				quantity=#{quantity}
			</if>
			<if test="flag != null">
				flag=#{flag}
			</if>
			<if test="image != null">
				image=#{image}
			</if>
		</where>
	</select>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from jimi_order_item where id=#{id};
	</delete>
	<delete id="deleteByOrderCode" parameterType="String">
		delete from jimi_order_item where orderCode=#{orderCode};
	</delete>

	<update id="update" parameterType="OrderItem">
		update jimi_order_item set 
				orderCode=#{orderCode},
				customer=#{customer},
				productId=#{productId},
				product=#{product},
				price=#{price},
				profit=#{profit},
				quantity=#{quantity},
				flag=#{flag},
				image=#{image}
		where id=#{id}
	</update>

	<select id="getAll" resultType="OrderItem">
		select id,  orderCode,customer,productId,product,price,profit,quantity,flag,image
		from jimi_order_item
	</select>
	
	
</mapper> 
