<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.edmond.jimi.sale.dao.ProductDao">
	<insert id="insert" parameterType="Product" useGeneratedKeys="true"
		keyProperty="id">
		insert into jimi_product
		(companyId,product,purchasePrice,price,memo,image,status)
		values(#{companyId},#{product},#{purchasePrice},#{price},#{memo},#{image},#{status})
	</insert>
	<!-- 获取用户-->
	<select id="get" parameterType="int" resultType="Product">
		select id, 
		companyId,product,purchasePrice,price,memo,image,status
		from jimi_product
		where id=#{id}
	</select>

	<!-- 查询用户,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
	<select id="search" parameterType="map" resultType="Product">
		select id,  companyId,product,purchasePrice,price,memo,image,status
		from jimi_product
		<where>
			<if test="companyId != null">
				companyId=#{companyId}
			</if>
			<if test="product != null">
				product=#{product}
			</if>
			<if test="purchasePrice != null">
				purchasePrice=#{purchasePrice}
			</if>
			<if test="price != null">
				price=#{price}
			</if>
			<if test="memo != null">
				memo=#{memo}
			</if>
			<if test="image != null">
				image=#{image}
			</if>
			<if test="status !=null">
				status=#{status}
			</if>
		</where>
	</select>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from jimi_product where id=#{id};
	</delete>

	<update id="update" parameterType="Product">
		update jimi_product set 
				companyId=#{companyId},
				product=#{product},
				purchasePrice=#{purchasePrice},
				price=#{price},
				memo=#{memo},
				image=#{image},
				status=#{status}
		where id=#{id}
	</update>

	<select id="getAll" resultType="Product">
		select id,  companyId,product,purchasePrice,price,memo,image,status
		from jimi_product
	</select>
	
	
</mapper> 
